@charset "utf-8";

/* 서브페이지 공통 CSS - sub.css */
/* 
  [ 선택자의 종류 ]
  1) 타입선택자: 요소명 
    예) h1{}, div{}
  2) 자손선택자: 띄어쓰기 
    예) h1 a{}, div span{}
  3) 아이디선택자: #
  4) 클래스선택자: .
  5) 직계자식선택자: > 
    예) #my > div{} "자기 부모의 바로 밑에 자식 선택"
  6) 그룹선택자: , 
    "동일한 속성 값을 입력하고자 할 때 사용"
  7) 종속선택자: 태그명+아이디/클래스선택자
    예) h1#logo{}, main.cont{}
  8) 속성선택자: []
    예) [target="_blank"], a[href="index.html"]
  9) 형제선택자: + 
      예) li+li , tr+tr 앞에 다른형제가 있는 요소를 선택함
  10) 다중형제선택자: ~
      예) li:nth-child(4)~li -> 4번째 li이후 모든 형제선택

*/

/* 2-1. subtitle */
h2.sub-title {
  font-family: "Bagel Fat One",
    sans-serif;
  color: #fff;
  font-size: 38px;
  font-weight: normal;
  text-shadow: 2px 2px 2px orange;
  text-align: center;
  background-color: aquamarine;

  padding: 10px;
  border-radius: 20px;
  background: url(../images/titbg4.jpg)
    no-repeat center/cover;

  /* 박스그림자 
    box-shadow:
    (내부그림자 inset) x축 y축 블러 (확장) 색
    -> 블러 뒤에 확장옵션에 px값을 주면 그림자가 더 커진다.

    콤마로 연결하면 글자 그림자든 박스 그림자든 모두 다중 그림자로 적용할 수 있음
  */
  box-shadow: 
    /* 내부그림자 */ inset
      0 0 10px rgb(112, 99, 99),
    /* 외부그림자 */ 0 0 10px 10px
      skyblue;
}

/* [ CSS 적용우선 순위 ] 
  0. 속성값 안에 !important 라고 쓰면 가장 최우선 적용
  1. 인라인 : 태그 안에 style 속성 세팅
  2. 종속선택 : 태그명#아이디명 / 태그명.클래스명
  3. 아이디 요소 : #
  4. 클래스 요소 : .
  5. 요소명 : 태그명
*/

/* 페이지별 타이틀 박스 디자인 변화 */
h2.politics {
  background-image: url(../images/titbg1.jpg);
  color: darkred;
}
h2.economics {
  background-image: url(../images/titbg2.jpg);
  color: lavenderblush;
}
h2.social {
  background-image: url(../images/titbg3.jpg);
  color: paleturquoise;
}
h2.it {
  background-image: url(../images/titbg4.jpg);
  color: darkorchid;
}
h2.tv {
  background-image: url(../images/titbg5.jpg);
  color: seagreen;
}

/* 2-2. 언론사로고 */
.press-logo img {
  /* 이미지 높이값 고정 */
  height: 32px;
}

/* 2-3. 기사제목 */
.article-title {
  font-size: 30px;
  color: #1e1e23;
}
/* 2-4. 기사이미지 */
.article-picture {
  margin: 0;
}
.article-picture img {
  width: 100%;
}
/* 이미지설명 */
.article-picture figcaption {
  text-align: center;
}
.article-picture figcaption small {
  font-size: 15px;
}
/* 2-5. 기사내용 */
.contents p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.8;
  color: #303038;
}
.contents p strong {
  color: hotpink;
}
.contents p em {
  color: lightseagreen;
  text-shadow: 2px 2px 2px
    rgba(0, 0, 0, 0.165);
  text-decoration: underline wavy;
}

/* 공통 보더박스 디자인 (.bd-box)*/

.bd-box {
  border-top: 2px dashed #303038;
  border-bottom: 2px dashed #303038;
  margin: 20px 0;
  padding: 0 20px;
}
/* 타이틀 */
.bd-box h4 {
  display: inline-block;
  border-radius: 15px;
  padding: 10px 15px;
  border: 2px solid #303038;
  background: #e6e6e6;
  font-size: 30px;
  box-shadow: inset 0 0 5px #1818186f,
    0 0 10px rgba(0, 0, 0, 0.445);
}
/* 인용구박스 : blockquote */
.quote-box blockquote {
  margin: 0;
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  /* 양쪽정렬시 영어단어 깨서 중앙 공백 없애기 : word-break: break-all */
  word-break: break-all;
  text-indent: 20px;
}
.quote-box blockquote img {
  width: 150px;
  float: right;
  /* 
    기본적으로 이미지는 인라인요소이며 글자가 왼쪽으로 한줄 하단에 나열됨.
    글자가 옆에 올라와서 흘러가게 하려면 float 속성을 사용한다.
      float: left 이미지는 왼쪽 / 글자는 오른쪽
      float: right 이미지는 오른쪽 / 글자는 왼쪽
  */
  margin: 4px 0 0 15px;
  /* margin-top: 15px; - 아래쪽에 영향으로 주석 */
  border-radius: 10px;
}
/* 2-5.5 인용블록영역 */
/* 2-6. 기자정보 */
.reporter {
  font-size: 20px;
  padding: 15px 0;
}
/* 2-7. 기사원문 */
.article-link {
  /* 우측정렬 */
  text-align: right;
}
.article-link a {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  border: 2px solid darkcyan;
  border-radius: 50%;
  background-color: lightcyan;
  color: darkcyan;
  font-size: 20px;
  text-decoration: none;
}
.article-link a:hover {
  color: white;
  background-color: navy;
}
/* 2-8. 주해영역 */
/* 2-9. 오늘의 작품 & 느낌 */
.work {
  text-align: center;
  /* 그라데이션 
    [ 선형 그라데이션 : linear-gradient ]
    linear-gradient(방향,색1,색2,...);
    linear-gradient(방향,색1 몇%,색2 몇%,...);
    linear-gradient(각도,색1 몇%,색2 몇%,...);
    - 옵션 : 
    1. 방향: to top, to bottom, to left, to right
    2. 각도: 각도deg
    3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능
  */
  background: linear-gradient(
    140deg,
    #ff33ee,
    #ff6400,
    #ffdc00
  );
  /* 박스 그림자 
        box-shadow: x축 y축 blur spread 색
        1.x축 - 가로축 이동
        2.y축 - 세로축 이동
        3.blur - 경계선 흐림
        4.spread - 그림자 기존크기 보다 더한크기
        5.색 - 그림자 색
        ->> 내부 그림자일 경우 inset 키워드를 앞에씀
        box-shadow: inset x축 y축 blur spread 색
        ->> spread는 필요시에 작성함
    */
  box-shadow: inset 0 0 10px 10px
    rgba(68, 68, 68, 0.347);
  padding: 20px;
  border-radius: 10px;
}
.work h4 {
  font-size: 40px;
  font-family: "Bagel Fat One",
    sans-serif;
  font-weight: normal;
  margin: 0;
  color: #fff;
}
.work figure {
  /* 기본 마진 없애기 */
  margin: 0;
  padding: 15px 0;
}
.work img {
  border: 15px ridge goldenrod;
}
/* 이미지설명 */
.work figcaption {
  font-family: "Black And White Picture",
    sans-serif;
  font-size: 30px;
  color: #111;
  font-weight: bold;
}
/* cite는 작품명 요소 (시멘틱 구조화다) */
.work figcaption cite {
  color: #9f2424;
  font-style: normal;
}

/* 뉴스파트 공통 클래스 */
.news-box {
  border-top: 2px dashed #ccc;
  margin: 20px 0;
  padding: 20px 0;
}
/* 뉴스타이틀 공통 */
.news-box h3 {
  font-family: "Black And White Picture",
    sans-serif;
  font-weight: normal;
  font-size: 30px;
  background: linear-gradient(
    140deg,
    skyblue,
    transparent
  );
  padding: 10px;
}
/* 뉴스파트 공통 a 요소 */
.news-box a {
  font-size: 18px;
  line-height: 2.5;
  color: #222;
  text-decoration: none;
}
.news-box a:hover {
  color: #e83f03;
  text-shadow: 1px 1px 2px
    rgba(0, 0, 0, 0.966);
}
/* 뉴스파트 공통 초기화 */
/* ul, ol, dl 은 기본마진, 패딩, 불릿, 번호 등 초기화 필요 */
.news-box ul,
.news-box ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-box dl,
.news-box dl dd {
  margin: 0;
}
.news-box ol {
  list-style: decimal;
  padding-left: 10px;
}

/* 주요뉴스 개별 설정하기 */
/* 
가상요소로 아이콘 삽입하기
: 이미지 같은 요소를 css에서 가상으로 넣을 수 있음
(가상은 실제 태그요소 아님)
*/
/* 
앞에 넣는 가상요소 ::before
뒤에 넣는 가상요소 ::after
((기본 필수 속성은? content 속성))
*/

/* 한줄 말줄임 세팅 */
/* 
  1. 줄바꿈방지 : white-space: nowrap;
  2. 글 넘기는 것 방지(block요소에서만 가능) : overflow: hidden;
  3. 말줄임표 표시 : text-overflow: ellipsis;
*/

.main-news a::before {
  content: '🤢';
  margin: 0 10px;
  font-size: 25px;
  vertical-align: middle;
}
.main-news a::after {
  content: '🤮';
  font-size: 25px;
  /* url을 사용하여 이미지를 넣을 수 있지만 크기 조정 불가 */
  /* content: url(https://upload.wikimedia.org/wikipedia/en/1/1d/Information_icon4.svg); */
}

/* 주요뉴스의 li 순서에서 개별 선택하기 */
.main-news ul li:nth-child(1) a {
  color: red;
}
.main-news ul li:nth-child(2) a {
  color: blue;
}
.main-news ul li:nth-child(3) a {
  color: green;
}

/* 분야별 뉴스 */
.sec-news dt {
  font-size: 30px;
  font-family: "Bagel Fat One",
  sans-serif;
  border: 4px dashed lightcoral;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
}
/* dt 따로 순서별 디자인 설정 */
/* 
  [ 여러 종류의 태그에서 순서별 선택법 ]
  :first-of-type 같은 종류 중 첫번째요소 선택
  :last-of-type 같은 종류 중 마지막요소 선택
  :nth-of-type(n) 같은 종류 중 선택한요소 선택
*/
.sec-news dt:first-of-type {
  background: skyblue;
  border: 4px dashed darkblue;
  color: purple;
}
.sec-news dt:nth-of-type(2) {
  background: lightpink;
  border: 4px dashed coral;
  color: navy;
  margin-top: 20px;
}
.sec-news dt:last-of-type {
  background: rgb(203, 255, 203);
  border: 4px dashed green;
  color: #e83f03;
  margin-top: 20px;
}