@charset "utf-8";

/* CGV PJ 메인페이지 CSS - main.css */

/* 외부CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/* 전체 디자인 */
body {
    background-color: #000;
}

/* 공사중 표시 : 구현시 박스 표시 */
body * {
    /* 아웃라인은 아무런 영향이 없음 (보더주지말기) */
    outline: 2px dashed #ccc;
}

/*************** 1. 상단영역 ***************/
header.top-area {
    position: relative;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1. 타이틀 */
header.top-area > .tit {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    line-height: 80px;
    color: aquamarine;
    text-align: center;
    box-shadow: 0 0 4px aquamarine;
}
/* 1-2. GNB 메뉴 */
header.top-area > .gnb {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
header.top-area > .gnb > ul {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}
header.top-area > .gnb > ul > li {
    float: left;
}
header.top-area > .gnb > ul > li+li {
    margin-left: 25px;
}

/*************** 2. 메인영역 ***************/
main.main-area {
    position: relative;
    height: 788px;
    background: url(../images/bg.jpg) no-repeat center/cover;
}
/* 2-1. 스크린 */
.screen {
    position: absolute;
    top: 136px;
    left: 257px;

    width: 700px;
    height: 405px;
    background-color: #000;
}
.screen iframe#ifr {
    width: 100%;
    height: 100%;
    /* 기본적으로 발생하는 보더 없애기 */
    border: none;
}
/* 2-2. 포스터메뉴 */
nav.poster-menu {
    position: absolute;
    bottom: 0;
    left: 225px;
}
nav.poster-menu ul > li {
    position: relative;
    float: left;
    overflow: hidden;
}
/* li+li 앞에 li가 있는 li선택
즉, 첫번째 li빼고 다 선택 */
nav.poster-menu ul > li+li {
    margin-left: 10px;
}
nav.poster-menu ul li a img {
    height: 170px;
    border-radius: 15px;
}
/* 영화정보 박스 */
nav.poster-menu ul li a .mv-info {
    position: absolute;
    top: 100%;
    left: 0;
    /* 부모는 .poster-menu ul > li */
    width: 100%;
    height: 100%;
    background-color: #00000091;
    text-align: center;
    line-height: 2;
    padding-top: 35px;
    font-size: 18px;
    font-family: 'Cute Font', cursive;
    box-sizing: border-box;
    transition: .3s ease-out;
    border-radius: 15px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
nav.poster-menu ul li:hover .mv-info {
    top: 0;
}
nav.poster-menu ul li a .mv-info ol li:first-child {
    font-size: 20px;
    color: aqua;
}

/*************** 3. 하단영역 ***************/
footer.footer-area {
    height: 100px;
}
