@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

/* 공사중 표시 */
/* body *, *::before, *::after {
    outline: 2px dashed yellow;
} */

body {
    background: url(../images/bg.jpg) no-repeat fixed top/cover;

    /* 커서 이미지로 변경하기 */
    cursor: url(../images/favicon.png), auto;
}

/****************** 1. 상단영역 ******************/
/* 1-1.로고 */
h1.logo{
    position: fixed;
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    z-index: 999;
    background: pink url(../images/robot_03.png) no-repeat center/auto 100%;
    box-shadow: 
    inset 0 0 20px 5px #000,
    0 0 20px 5px aqua;

    /* 글자설정 */
    text-align: center;
    line-height: 20vw;
    font-family: 'Orbitron';
    font-size: 4.5vw;
    color: lightgreen;
    text-shadow: 0 0 10px #000;
}

  /* 1-2.탑이동버튼 */
.btn-top{
    position: fixed;
    bottom: 3vw;
    right: 3vw;

    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 5px outset #fff;
    background-color: #ccc;

    z-index: 10;
}

  /* a요소 확장 */
.btn-top a{
    display: block;
    width: 100%;
    height: 100%;
    
    /* 글자셋팅 */
    color: blue;
    text-decoration: none;
    font: 1.4vw/5vw 'Black Ops One';
    /* font: 스두크/줄체; */
}
  /* 오버시 설정 */
.btn-top:hover{
    background-color: #ff0;
    /* outset 나온버튼, inset 들어간 버튼 */
    border-style: inset;
}
.btn-top:hover a{
    color: #f00;
}


/****************** 2. 메인영역 ******************/

/* 메인영역 속박스 */
.main-area {
    padding-top: 100vh;
}

/* 2-1. 로봇박스 */
.main-area > .robot-box {
    position: fixed;
    top: 0;
    /* left : 84% -> 50% */
    left: 84%;
    translate: -50%;
    /* 축소 : 0.4 -> 0.8 */
    scale: .4;
    transform-origin: center 30%;

    padding-top: 100px;
    padding-bottom: 700px;
}

/* 2-1-0. 로봇 말풍선 */
.link-title{
    position: absolute;
    top: -7vw;
    left: 50%;
    /* 로봇머리로 부터 위치 일정하게 */
    transform: translateX(200px) scale(0);
    /* 로봇쪽에서 커지게 하기위해
    트랜스폼 기준 변경(왼쪽아래) */
    transform-origin: left bottom;
    width: 40vw;
    height: 20vw;
  
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 20vw;
  
    text-decoration: none;
    color: orangered;
    font-size: 5vw;
  
    border: 10px dashed orangered;
    box-sizing: border-box;
  
  }
  /* 가상요소로 삼각형 만들기 */
  .link-title::after{
    content: '';
    position: absolute;
    top: 62.7%;
    left: -9%;
    /* 왜%인가? 유동적인 부모를 기준한 위치값이다! */
    transform: rotate(43deg);
    /* 가로,세로 크기 0 */
    width: 0;
    height: 0;
    /* 보더탑 크기+색 설정 */
    border-top: 11vw solid orangered;
    /* 양쪽보더 크기+투명색 설정 */
    border-left: 1.5vw solid transparent;
    border-right: 1.5vw solid transparent;
  }
  /* 로봇 말풍선 오버시 */
  .link-title:hover{
    color: #fff;
    background-image: 
    radial-gradient(circle,red 10%,blue 30%,yellow);
  }
  
  /* 
      [ 원형 그라데이션 ]
  
      - 기본형, 영역지정형은 박스모양을 따라감!
  
      1) 기본형: 중앙중심, 모양은 박스크기에 맞춤
      background-image: 
          radial-gradient(색1,색2,색3,...);
      - 시작색으로부터 중앙에서 시작됨
  
      2) 영역 지정형:
      background-image: 
          radial-gradient(색1 몇%,색2 몇%,색3 몇%,...);
      - 색 뒤에 한칸 띄고 %수치로 영역지정함
  
      3) 그라데이션 모양을 원형으로 사용할 경우:
      background-image: 
          radial-gradient(circle,색1,색2,색3,...);
      - circle 키워드를 첫번째에 사용함
  
      4) 영역옵션 지정형: 중심점 변경
      background-image: 
          radial-gradient(옵션 at 가로위치 세로위치,색1,색2,색3,...);
      - 옵션4가지 : closest-side / farthest-side
                  closest-corner / farthest-corner
                  ___________________________________
                  - closest는 중심점으로 좀더 모아진것
                  - farthest는 중심점에서 멀리 퍼진것
                  - side와 corner는 경계선과 끝부분옵션임
      - 가로위치, 세로위치 (중심점) - 단위는 px / %
  */
  
/* 2-1-1. 로봇머리 */
.main-area > .robot-box > .head {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    border-radius: 50px 50px 100px 100px;
    z-index: 2;
}

/* 머리카락넣기 */
.main-area > .robot-box > .head::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -90%;
    width: 299%;
    height: 1000%;
    background: url(../images/hair002.png) no-repeat top/110%;
}

/* 로봇머리 하위 공통 앱솔루트 */
.head > div {
    position: absolute;
}

/* 눈 공통 */
.main-area > .robot-box > .head > .eye {
    top: 50px;
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    border-radius: 50%;
}

/* 왼눈 */
.main-area > .robot-box > .head > .eye1 {
    left: 16%;
    background-image: url(../images/e1.jpg);
}

/* 오른눈 */
.main-area > .robot-box > .head > .eye2 {
    right: 16%;
    background-image: url(../images/e2.jpg);
}

/* 코 */
.main-area > .robot-box > .head > .nose {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 50px;
    height: 80px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    border-radius: 20px;
}

/* 입 */
.main-area > .robot-box > .head > .mouth {
    bottom: 10%;
    left: 50%;
    translate: -50% -50%;
    width: 80px;
    height: 30px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀 공통 */
.main-area > .robot-box > .head > .ear {
    top: 80px;
    width: 50px;
    height: 80px;
}

/* 왼귀 */
.main-area > .robot-box > .head > .ear1 {
    left: -50px;
    border-radius: 20px 0 0 20px;
}

/* 오른귀 */
.main-area > .robot-box > .head > .ear2 {
    right: -50px;
    border-radius: 0 20px 20px 0;
}

/* 2-1-2. 로봇몸통 */
.main-area >.robot-box > .body {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 320px;
    margin-top: 50px;
    z-index: 2;
}

/* .body가상요소로 상체만들기 */
.main-area >.robot-box > .body::before {
    content: '';
    display: block;
    /* 블록으로 변경해야 div처럼 사용할 수 있다. */
    position: absolute;
    top: 0;
    left: -10%;
    z-index: 1;
    width: 120%;
    height: 40%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, white, lightgray, darkgray, gray, #444);
    background-color: #fff;
}
.main-area >.robot-box > .body::after {
    content: '';
    display: block;
    /* 블록으로 변경해야 div처럼 사용할 수 있다. */
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: 1;
    width: 120%;
    height: 40%;
    border-radius: 15px 15px 50% 50%;
    background-image: linear-gradient(to bottom, white, lightgray, darkgray, gray, #444);
    background-color: #fff;
}

/* 바디 하위요소 앱솔루트 */
.main-area > .robot-box > .body > div {
    position: absolute;
}

/* 로봇목 */
.main-area >.robot-box >.body >.neck {
    top: -70px;
    left: 50%;
    translate: -50%;
    width: 50px;
    height: 80px;
    border-radius: 20px;
}
/* 팔공통 */
.main-area >.robot-box >.body >.arm {
    width: 50px;
    height: 180px;
    border-radius: 20px;
    top: 30px;
}
.main-area >.robot-box >.body >.arm::after {
    content: '';
    position: absolute;
    width: 55px;
    padding-top: 100%;
    bottom: -15%;
    left: -7%;
    border-radius: 50%;
    background-image: radial-gradient(#ccc 20%, #222 60%);
    border: 2px solid #fff;
}
/* 왼팔 */
.main-area >.robot-box >.body >.arm1 {
    left: -70px;
}
/* 오른팔 */
.main-area >.robot-box >.body >.arm2 {
    right: -70px;
}

.main-area >.robot-box >.body >.arm > span {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
}
/* 손 공통 : span의 가상요소로 만들기 */
.main-area >.robot-box >.body >.arm1 > span::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: -36%;
    width: 80px;
    height: 110px;
    background: url(../images/hand_left.png) no-repeat center/100% 100%;
}
.main-area >.robot-box >.body >.arm2 > span::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -36%;
    width: 80px;
    height: 110px;
    background: url(../images/hand_right.png) no-repeat center/100% 100%;
}

/* 다리공통 */
.main-area >.robot-box >.body >.leg {
    width: 60px;
    height: 250px;
    top: 100%;
}
.main-area >.robot-box >.body >.leg::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 70px;
    height: 50px;
    background-image: radial-gradient(#222, #999);
    border: 2px solid #222;
    border-radius: 20px;
}
/* 왼다리 */
.main-area >.robot-box >.body >.leg1 {
    left: 0;
}
/* 오른다리 */
.main-area >.robot-box >.body >.leg2 {
    right: 0;
}
.main-area >.robot-box >.body >.leg > span {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 100%;
}
/* 부츠상단 가상요소 */
.main-area >.robot-box >.body >.leg > span::before {
    content: '';
    position: absolute;
    top: 30%;
    left: -10%;
    width: 120%;
    height: 70%;
    background-image: linear-gradient(to right, #ccc, #222);
    border: 2px solid #222;
    border-top-width: 15px;
    box-sizing: border-box;
}
.main-area > .robot-box >.body >.leg > span::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -30%;
    width: 160%;
    height: 20%;
    background-image: linear-gradient(to right, #ccc, #222);
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    border: 2px solid #222;
    border-bottom-width: 10px;
}
/* 어깨공통 */
.main-area >.robot-box >.body >.shdr {
    width: 70px;
    height: 60px;
}
/* 왼어깨 */
.main-area >.robot-box >.body >.shdr1 {
    left: -77px;
    border-radius:50px 0 0 50px;
}
/* 오른어깨 */
.main-area >.robot-box >.body >.shdr2 {
    right: -77px;
    border-radius: 0 50px 50px 0;
}

/* TV 박스 */
.main-area >.robot-box >.body > .tv {
    /* 앱솔루트 가로중앙 세팅 */
    top: 2%;
    left: 50%;
    translate: -50%;
    width: 140px;
    height: 100px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
    z-index: 1;
}

/* 스크린 */
.main-area >.robot-box >.body > .tv > .screen {
    position: absolute;
    top: 12px;
    left: 9px;
    width: 97px;
    height: 69px;
    border-radius: 5px;
    background-color: aqua;
    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}
.main-area >.robot-box >.body > .tv > .screen iframe {
    position: absolute;
    top: -17%;
    left: -5%;
    width: 123%;
    height: 132%;
}
/* 버튼박스 */
.main-area >.robot-box >.body > .tv > .btns {
    position: absolute;
    bottom: 20px;
    right: 5px;
    background-color: hotpink;
}
/* 버튼요소 */
.main-area >.robot-box >.body > .tv > .btns button {
    display: block;
    font-size: 9px;
    padding: 0;
    width: 27px;
    line-height: 13px;
}

/* 2-2. 설명박스 */
.main-area > .text-box {
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 15px 30px;
    box-shadow: 
    inset 0 0 20px #7bff0092,
    inset 0 0 40px #00ff6e7c,
    inset 0 0 60px #ffe1007d;
    backdrop-filter: blur(20px) saturate(50%);

    /* 
    [백드롭 필터효과] 
    - filter속성과 동일한 셋팅을 가지며
    적용대상이 겹쳐지는 하단의 그래픽을 변경한다!

    backdrop-filter: blur(2px); -> 흐림
    backdrop-filter: brightness(60%); -> 밝기
    backdrop-filter: contrast(40%); -> 대비
    backdrop-filter: drop-shadow(4px 4px 10px blue);->그림자
    backdrop-filter: grayscale(30%);-> 흑백
    backdrop-filter: hue-rotate(120deg); -> 색상변경
    backdrop-filter: invert(70%); -> 반전색
    backdrop-filter: opacity(20%); -> 투명도
    backdrop-filter: sepia(90%); -> 세피아효과
    backdrop-filter: saturate(80%); -> 채도

    -> 복합적용 가능!
    backdrop-filter: blur(4px) saturate(150%);
    */
}
/* 2-2-1. 제목 */
.main-area >.text-box > h2 {
    position: sticky;
    top: 30px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.521);
    color: rgb(0, 255, 0);
    text-shadow: 2px 2px 2px #000000d3;
    border-radius: 20px;
    font-weight: normal;
}
/* 2-2-2. 출처 */
.main-area >.text-box > small {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #0e2fea86;
    color: yellowgreen;
    display: block;
    text-align: center;
    padding: 10px;
}
/* 2-2-3. 내용 */
.main-area >.text-box > p {
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    
    /* 
        다단설정하기
        -> 다중열속성

        column-count : 다중열개수;
        column-rule : 다중열구분선;
        column-gap : 다중열사이간격
    */
    
    column-count: 3;
    column-rule: 5px dotted lightgreen;
    column-gap: 60px;

    text-align: justify;
    word-break: break-all;
    text-indent: 30px;
}
.main-area >.text-box > p::first-letter {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 255, 0);
}

/****************** 3. 하단영역 ******************/
