@charset "utf-8";

/* 로봇 PJ 미디어파일 */

/****************************** 950px이하 시작 ******************************/
@media screen and (max-width: 950px){
  .main-area >.text-box > p {
    column-count: 2;
  }
  .link-title{
    top: -10vw;
    left: 11%;
  }
}
/****************************** 950px이하 종료 ******************************/

/****************************** 570px이하 시작 ******************************/
@media screen and (max-width: 570px){
  .main-area >.text-box > p {
    column-count: 1;
  }
}
/****************************** 570px이하 종료 ******************************/