@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.jpg) no-repeat top/cover;
}