
// 변수 세팅하기

// (1) 색상세팅
$mainColor1:#932f2f;
$mainColor1-2:#ae5721;
$mainColor2:#2a21ae;
$mainColor2-2:#2186ae;

// (2) 색상명 세팅
$orgRed: #ff2f00;
$orgGreen: #c8ff00;
$orgAqua: #00ffd0;

// (3) 글자크기 세팅
$fontSize1: 40px;
$fontSize2: 32px;
$fontSize3: 28px;
$fontSize4: 20px;
$fontSize5: 16px;

// (4) SCSS 객체변수 세팅하기
// 객체변수 사용법
// 변수 : (속성:값, 속성:값, 속성:값)

$colors: (
  color1: blue,
  color2: green,
  color3: orange,
  color4: magenta,
  color5: yellow,
  color6: purple,
);
